<div class="layout-box">

    <div class="top-bar">

        <div class="logo-png">

            <div class="navbar-brand">
                <a routerLink="/">
                    <img src="../../../assets/b5cc3dc0ee9a45e48910759bce7db32c.png">
                </a>
            </div>

        </div>

        <div class="navbar-group">
            <a routerLink="/">Home</a>
            <a href="#news">News</a>
            <a routerLink="contacts">Contacts</a>
            <a href="#about">About</a>
        </div> 

        <div class="navbar-group-auth">
            <a routerLink="">Login</a>
            <a routerLink="">Register</a>
            <a routerLink="">Logout</a>
        </div> 




    </div>

    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>

<nav class="navbar">



</nav>